*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 70px;
    color: #fff;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 22px;
}
p{
    font-size: 18px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}

/* -------- navbar style start here ------------ */
nav.menubar{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}
/* .menubar .logo{} */
.menubar .menu-items ul{
    display: flex;
}
.menubar .menu-items ul li{
    padding: 20px;
    font-size: 18px;
    list-style: none;
}
.menubar .menu-items ul li:hover{
    color: blue;
    cursor: pointer;
}
section.banner-container{
    display:flex;
    background-color: #000;
    height: 100vh;
}
.banner-container .banner-left{
    margin-left: 50px;
    width: 60%;
    color: #fff;
    position: relative;
    top:50%;
    display:block;
    transform: translateY(-35%);

}
.banner-container .banner-left h1{
    font-size: 70px;
    font-weight: bold;
}
.banner-container .banner-left h4{
    color:rgb(219 19 19);
}
.banner-container .banner-left p{
    font-size: 22px;
    color:rgb(196 205 205);
}
.banner-container .banner-left a, .about-btn{
    padding: 19px 45px;
    margin-top: 50px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
}
.banner-container .banner-left a:hover{
    background-color: blue;
}
.banner-container .banner-right{
    width: 40%;
}
.banner-container .banner-right img{
    margin-top: 115px;
    width: 100%;
}
section.take-look{
    text-align: center;
    margin-top: 80px;

}
.cart-area{
    margin-top:80px;
    display: flex;
    justify-content: space-evenly;
}
.cart-area .cart{
    width: 350px;
    border: solid 2px gray ;
    border-radius:5px;
    padding: 20px;
    margin-bottom: 200px;
    transition: .5s;
}
.cart-area .cart1:hover,.cart-area .cart2:hover,.cart-area .cart3:hover{
    border: solid plum 2px;
    box-shadow: 1px 1px 10px plum;
    transition: .5s;
    margin-top: -40px;
    padding-bottom: 40px;
}
.cart-area .cart img{
    width: 100px;
}
section.about-us{
    margin-top: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.about-us h2{
    margin-bottom: 20px;
}
.about-us .about-container-area{
    display: flex;
}
.about-us .about-left{
    width: 50%;
}
.about-us .about-left img{
    width: 288px;
    padding: 20px;
    margin-top: 50px;
    transform: skewY(-15deg);
  }
.hr-driver{
    width: 80%;
    position: relative;
    right: -116px;
    margin-bottom: 20px;
    border: solid #EF0B0B 1px;
}
.about-us .about-left .about-image{
    display: flex;
}
.about-us .about-right .right-diver{
    margin-bottom: 20px;
    border: solid 1px #808080;
}
.about-us .about-right{
    padding:0 5% 0 3%;
    text-align: left;
}
.about-us .about-right h2{
    font-size: 43px;
    font-weight: 900px;
}
.about-us .about-right p{
    font-size: 22px;
    color:rgb(196 205 205);
    margin: 10px 0;
}
.about-us .about-right ul {
    margin: 20px 0;
}
.about-us .about-right ul li{
    list-style: none;
    font-size: 20px;
}
section.workout{
    width: 700px;
    margin:60px auto;
    background-image: url("../images/shape/Group_33094_1.png");
    background-position:center ;
    background-size: cover;
    border-radius: 25px;
    display: flex;
}
.workout h2{
    color: #fff;
    padding: 80px ;
    font-size: 35px;
}
.workout a{
    margin: 80px  0;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;

}
section.our-services {
    margin-bottom: 100px;
}
.our-services h2{
    text-align: center;
    margin: 100px;

}
.our-services .service-cart-area{
    display: flex;
    justify-content:space-evenly;
}
.our-services .service-cart{
    line-height: 1.8rem;
    width: 350px;
    box-shadow: 8px 8px 16px rgb(17 16 16) ;
    border-radius: 5px;
}
.our-services .service-cart-2{
    position: relative;
}
.our-services .batch{
    width: 70px;
    position: absolute !important;
    right: 10px;
    top: -30px;
}
.our-services .batch img{
    width: 100% !important;
}
.our-services .service-cart .service-cart-des{
    padding: 15px;
}
.our-services .service-cart > img{
    width: 350px;
    border-radius: 5px 5px 0 0;
}
.our-services .service-cart h4{
    color: #EF0B0B;
    font-size: 18px;
}
.our-services .service-cart .service-cart-prize{
    display: flex;
    justify-content:space-between;
    
}
.our-services .service-cart .service-cart-prize a{
    padding: 5px;
    position: relative;
    top: 5px;
}